@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  height: auto;
  min-height: 100vh;
  background-color: #091921;
  scroll-behavior: smooth;
}
#progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  border-radius: 5px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: progress-bar 5s linear infinite;
}
#progress-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}
#progress-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}
#scroll-path {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}
body > section {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator {
  position: relative;
  display: grid;
}
.calculator .value {
  cursor: default;
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}
.calculator .value::after {
  content: '1';
}
.calculator span {
  cursor: pointer;
  user-select: none;
  display: grid;
  height: 60px;
  color: #ffffff;
  background-color: #0c2835;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.calculator span:active {
  background-color: #74ff3b;
  color: #111111;
}
.calculator span.clear {
  grid-column: span 2;
  background-color: #ff3077;
}
.calculator span.plus {
  grid-row: span 2;
  height: 120px;
}
.calculator span.equal {
  background-color: #03b1ff;
}

.btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  outline: none;
  overflow: hidden;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
}
.btn:nth-child(2) {
  background: linear-gradient(90deg, #755bea, #ff72c0);
}
span.ripples {
  position: absolute;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple 1s linear infinite;
}

.container {
  position: relative;
}
.container .card {
  position: relative;
  width: 320px;
  height: 450px;
  background-color: #232323;
  border-radius: 20px;
  overflow: hidden;
}
.container .card::after {
  content: attr(title);
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}
.container .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: all 500ms ease-in-out;
}
.container .card:hover::before {
  clip-path: circle(300px at 80% -20%);
}
.container .card .img-bx img {
  width: 270px;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transform: scaleX(-1) rotate(25deg);
}
.container .card .img-bx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}
.container .card:hover .img-bx {
  top: 0;
  transform: translateY(0);
}
.container .card .content-bx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.container .card:hover .content-bx {
  height: 210px;
}
.container .card .content-bx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}
.container .card .content-bx .size,
.container .card .content-bx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 500ms;
  opacity: 0;
  visibility: hidden;
}
.container .card:hover .content-bx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 500ms;
}
.container .card:hover .content-bx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 700ms;
}
.container .card .content-bx .size h3,
.container .card .content-bx .color h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.container .card .content-bx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111111;
  background-color: #ffffff;
  margin: 0 5px;
  transition: 500ms;
  color: #111111;
  border-radius: 4px;
  cursor: pointer;
}
.container .card .content-bx .size span:hover {
  background-color: #9bdc28;
}
.container .card .content-bx .color span {
  width: 20px;
  height: 20px;
  background-color: #ffff00;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.container .card .content-bx a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111111;
  opacity: 0;
  transform: translateY(50px);
  transition: 500ms;
}
.container .card:hover .content-bx a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 750ms;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('images/clock.png');
  background-size: cover;
  border: px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 20;
}
.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}
.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}
.clock .min,
.mn {
  width: 190px;
  height: 190px;
}
.clock .sec,
.sc {
  width: 230px;
  height: 230px;
}
.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background-color: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #ffffff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: #ffffff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  filter: url(#gooey);
}
.loader ~ svg {
  width: 0;
  height: 0;
}
.loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  animation: loader-animate 4s ease-in-out infinite;
  animation-delay: calc(200ms * var(--i));
}
.loader span::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  box-shadow: 0 0 30px #03a9f4;
  background-image: linear-gradient(#fce4ec, #03a9f4);
  border-radius: 50%;
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

@keyframes progress-bar {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

@keyframes loader-animate {
  0% {
    transform: rotate(0deg);
  }
  50%,
  100% {
    transform: rotate(360deg);
  }
}
